.newDeckPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  
  .newDeckCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    
    .deckNameInput {
      text-align: center;
    }
  }
}